<main class="contacts-wrapper">
	<table class="table table-bordered table-hover">
		<tr>
			<td>Name</td>
			<td>Company</td>
			<td>Email</td>
			<td>Phone #</td>
		</tr>
		<!--
			When someone clicks on a contact
			go to draft state
			with a param of the contact email
			populate the "To" field of draft with that email

			state.go
				- ( toState, params )
			adjust draft state in app.js 
				- url needs to change to allow params
			adjust draftCtrl
			$stateParams
		 -->
		<tr
			ng-click="messageContact( contact )"
			ng-repeat="contact in contacts"
		>
			<td>{{ contact.name }}</td>
			<td>{{ contact.company }}</td>
			<td>{{ contact.email }}</td>
			<td>{{ contact.phone }}</td>
		</tr>
	</table>
</main>